aotestadf/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "aotestadf"
		},
		"AzureDataLakeStorageGen2LinkedService_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'AzureDataLakeStorageGen2LinkedService'"
		},
		"AzureDataLakeStorageGen2LinkedService_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://aotestadlsgen2.dfs.core.windows.net"
		},
		"ODataLinkedService_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "http://services.odata.org/AdventureWorksV3/AdventureWorks.svc"
		},
		"OATesttrigger_properties_Copy Data_parameters_year": {
			"type": "string",
			"defaultValue": "@trigger().startTime"
		},
		"TestTrigger_properties_Copy Data_parameters_year": {
			"type": "string",
			"defaultValue": "@trigger().startTime"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStorageGen2LinkedService')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "To Connect to the target ADLS Gen2",
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDataLakeStorageGen2LinkedService_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('AzureDataLakeStorageGen2LinkedService_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ODataLinkedService')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Reads data for test purposes",
				"annotations": [],
				"type": "OData",
				"typeProperties": {
					"url": "[parameters('ODataLinkedService_properties_typeProperties_url')]",
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Source_OData_CompanySales_Dataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ODataLinkedService",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "ODataResource",
				"schema": [],
				"typeProperties": {
					"path": "CompanySales"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ODataLinkedService')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Target_ADLSGen2_Dataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorageGen2LinkedService",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"yearnow": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().yearnow",
							"type": "Expression"
						},
						"folderPath": "test",
						"fileSystem": "oatarget"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorageGen2LinkedService')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Copy Data')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Copies data from OData into Target ADLS Gen2 path",
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Set variable year",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ODataSource",
								"query": {
									"value": "GET https://services.odata.org/AdventureWorksV3/AdventureWorks.svc/CompanySales?$filter=OrderYear eq @{variables('YearVariable')}",
									"type": "Expression"
								},
								"httpRequestTimeout": "00:05:00"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "Source_OData_CompanySales_Dataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Target_ADLSGen2_Dataset",
								"type": "DatasetReference",
								"parameters": {
									"yearnow": {
										"value": "@concat(variables('YearVariable'),'.snappy.parquet')",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Set variable year",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "YearVariable",
							"value": {
								"value": "@substring(pipeline().parameters.year,0,4)",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"year": {
						"type": "string"
					}
				},
				"variables": {
					"YearVariable": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Source_OData_CompanySales_Dataset')]",
				"[concat(variables('factoryId'), '/datasets/Target_ADLSGen2_Dataset')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/OATesttrigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Copy Data",
							"type": "PipelineReference"
						},
						"parameters": {
							"year": "[parameters('OATesttrigger_properties_Copy Data_parameters_year')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Month",
						"interval": 1,
						"startTime": "2021-12-13T00:27:00Z",
						"timeZone": "UTC",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								7
							],
							"monthDays": [
								-1
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Copy Data')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/TestTrigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Copy Data",
							"type": "PipelineReference"
						},
						"parameters": {
							"year": "[parameters('TestTrigger_properties_Copy Data_parameters_year')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 5,
						"startTime": "2021-12-13T13:31:00Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Copy Data')]"
			]
		}
	]
}