pipeline/OA_CompanySales_Extract_PipeLine.json
{
	"name": "OA_CompanySales_Extract_PipeLine",
	"properties": {
		"description": "Copies data from OData into Target ADLS Gen2 path",
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set variable year",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ODataSource",
						"query": {
							"value": "GET https://services.odata.org/AdventureWorksV3/AdventureWorks.svc/CompanySales?$filter=OrderYear eq @{variables('YearVariable')}",
							"type": "Expression"
						},
						"httpRequestTimeout": "00:05:00"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "Source_OData_CompanySales_Dataset",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Target_ADLSGen2_Dataset",
						"type": "DatasetReference",
						"parameters": {
							"yearnow": {
								"value": "@concat(variables('YearVariable'),'.snappy.csv')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Set variable year",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "YearVariable",
					"value": {
						"value": "@substring(pipeline().parameters.year,0,4)",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"year": {
				"type": "string"
			}
		},
		"variables": {
			"YearVariable": {
				"type": "String"
			}
		},
		"annotations": []
	}
}